<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>Candidates</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/b-1.5.2/b-html5-1.5.2/datatables.min.css"/>-->

    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/vnd.microsoft.icon">

    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/af-2.3.0/b-1.5.2/b-colvis-1.5.1/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/cr-1.5.0/fc-3.2.5/fh-3.1.4/kt-2.4.0/r-2.2.2/rg-1.0.3/rr-1.2.4/sc-1.5.0/sl-1.2.6/datatables.min.css"/>


    <title>HR Administration</title>
    <!-- Bootstrap Core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link th:href="@{/vendor/metisMenu/metisMenu.min.css}" rel="stylesheet">

    <!-- Custom CSS -->
    <link th:href="@{/dist/css/sb-admin-2.css}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link th:href="@{/vendor/morrisjs/morris.css}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div id="wrapper">


    <!-- Navigation -->
    <div th:insert="/nav :: nav"></div>
    <th:block layout:fragment="content">
        <div id="page-wrapper">
            <div>
                <div class="panel panel-default">

                    <div th:if="${not #lists.isEmpty(candidates)}">
                        <h1 class="page-header">Candidates</h1>

                        <div class="panel-body">

                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#candidate-table-tabs" data-toggle="tab">Candidates List</a>
                                </li>
                                <li><a href="#candidate-upload-tabs" data-toggle="tab">Upload Candidates</a>
                                </li>
                            </ul>


                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="candidate-table-tabs">

                                    <table id="candidates" class="display" style="width: 100%">
                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Birth Date</th>
                                            <th>Level</th>
                                            <th>Status</th>
                                            <th>Source</th>
                                            <th>Address</th>
                                            <th>Phone Number</th>
                                            <th>Email</th>
                                            <th>French Level</th>
                                            <th>Date Start Process</th>
                                            <th>Position</th>
                                            <th>Years of Experience</th>
                                            <th>Desired Salary</th>
                                            <th>Salary Proposed</th>
                                            <th>Start Date</th>
                                            <th>Date Technical Interview</th>
                                            <th>Responsible Technical Interview</th>
                                            <th>Feedback Technical Interview</th>
                                            <th>Date HR Interview</th>
                                            <th>Responsible HR Interview</th>
                                            <th>Feedback HR Interview</th>
                                            <th>Decision</th>
                                            <th>Date Contract Sign</th>
                                            <th>Comments</th>
                                            <th>Reasons Of Recruitment</th>
                                            <th>Refusal Reason</th>
                                            <th>Tax Deduction Eligibility</th>
                                            <th>Edit</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="candidate : ${candidates}">
                                            <td th:text="${candidate.id}"></td>
                                            <td th:text="${candidate.firstName}"></td>
                                            <td th:text="${candidate.lastName}"></td>
                                            <td th:text="${candidate.birthDate}"></td>
                                            <td th:text="${candidate.level}"></td>
                                            <td th:text="${candidate.status}"></td>
                                            <td th:text="${candidate.source}"></td>
                                            <td th:text="${candidate.address}"></td>
                                            <td th:text="${candidate.phoneNumber}"></td>
                                            <td th:text="${candidate.email}"></td>
                                            <td th:text="${candidate.frenchLevel}"></td>
                                            <td th:text="${candidate.dateStartProcess}"></td>
                                            <td th:text="${candidate.position}"></td>
                                            <td th:text="${candidate.yearsExperience}"></td>
                                            <td th:text="${candidate.desiredSalary}"></td>
                                            <td th:text="${candidate.salaryProposed}"></td>
                                            <td th:text="${candidate.startDate}"></td>
                                            <td th:text="${candidate.dateTechnicalInterview}"></td>
                                            <td th:text="${candidate.responsibleTechnicalInterview}"></td>
                                            <td th:text="${candidate.feedbackTechnicalInterview}"></td>
                                            <td th:text="${candidate.dateHRInterview}"></td>
                                            <td th:text="${candidate.responsibleHRInterview}"></td>
                                            <td th:text="${candidate.feedbackHRInterview}"></td>
                                            <td th:text="${candidate.decision}"></td>
                                            <td th:text="${candidate.dateContractSign}"></td>
                                            <td th:text="${candidate.comments}"></td>
                                            <td th:text="${candidate.reasonsOfRecruitment}"></td>
                                            <td th:text="${candidate.refusalReason}"></td>
                                            <td th:text="${candidate.taxDeductionEligibility}"></td>

                                            <td><a th:href="@{'/candidates/editCandidate/' + ${candidate.id}}">Edit</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane fade" id="candidate-upload-tabs">

                                    <div id="uploadCandidateId">

                                        <form action="/candidates/upload" method="post" enctype="multipart/form-data">
                                            <input name="inputCandidateFile" id="inputCandidateFile" type="file"><br>
                                            <button name="submit" type="submit">Upload</button>
                                            <input type="hidden" th:name="${_csrf.parameterName}"
                                                   th:value="${_csrf.token}"/>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </th:block>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script type="text/javascript" src="../static/vendor/jquery/jquery.min.js"
        th:src="@{/vendor/jquery/jquery.min.js}"></script>
<!-- Bootstrap Core JavaScript -->
<script type="text/javascript" src="../static/vendor/bootstrap/js/bootstrap.min.js"
        th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!-- Metis Menu Plugin JavaScript -->
<script type="text/javascript" src="../static/vendor/metisMenu/metisMenu.min.js"
        th:src="@{/vendor/metisMenu/metisMenu.min.js}"></script>
<!-- Morris Charts JavaScript -->
<script type="text/javascript" src="../static/vendor/raphael/raphael.min.js"
        th:src="@{/vendor/raphael/raphael.min.js}"></script>
<script type="text/javascript" src="../static/vendor/morrisjs/morris.min.js"
        th:src="@{/vendor/morrisjs/morris.min.js}"></script>
<script type="text/javascript" src="../static/data/morris-data.js"
        th:src="@{/data/morris-data.js}"></script>

<!-- DataTables JavaScript -->
<script type="text/javascript" src="../static/vendor/datatables/js/jquery.dataTables.min.js"
        th:src="@{/vendor/datatables/js/jquery.dataTables.min.js}"></script>
<script type="text/javascript" src="../static/vendor/datatables-plugins/dataTables.bootstrap.min.js"
        th:src="@{/vendor/datatables-plugins/dataTables.bootstrap.min.js}"></script>
<script type="text/javascript" src="../static/vendor/datatables-responsive/dataTables.responsive.js"
        th:src="@{/vendor/datatables-responsive/dataTables.responsive.js}"></script>

<!-- Custom Theme JavaScript -->
<script type="text/javascript" src="../static/dist/js/sb-admin-2.js"
        th:src="@{/dist/js/sb-admin-2.js}"></script>

<script type="text/javascript"
        src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/af-2.3.0/b-1.5.2/b-colvis-1.5.1/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/cr-1.5.0/fc-3.2.5/fh-3.1.4/kt-2.4.0/r-2.2.2/rg-1.0.3/rr-1.2.4/sc-1.5.0/sl-1.2.6/datatables.min.js"></script>


<script>
    $(document).ready(function () {
        $('#candidates').DataTable({
            responsive: true,
            dom: 'lBfrtip',
            buttons: [
                {
                    extend: 'excelHtml5',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'copyHtml5',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'colvis',
                    collectionLayout: 'fixed two-column'

                }
            ],
            columnDefs: [
                {
                    targets: -1,
                    visible: false
                }
            ]
        });
    });
</script>

</body>


