<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>Create Employee</title>

    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/vnd.microsoft.icon">
    <!-- Bootstrap Core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link th:href="@{/vendor/metisMenu/metisMenu.min.css}" rel="stylesheet">

    <!-- Custom CSS -->
    <link th:href="@{/dist/css/sb-admin-2.css}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link th:href="@{/vendor/morrisjs/morris.css}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div id="wrapper">
    <div th:insert="/nav :: nav"></div>
    <th:block layout:fragment="content">
        <div id="page-wrapper">

                <div th:if="${employeeCreateError}" class="validation-message alert alert-danger"
                     role="alert" th:text="${employeeCreateError}"></div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="formCreateEmployee">
                                <form th:action="@{/employees/createEmployee}" th:object="${employee}"
                                      method="POST">
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            <label> Id <span>:</span></label>
                                            <textarea class="form-control" th:field="*{id}" required></textarea>
                                            <div th:if="${#fields.hasErrors('id')}"
                                                 th:errors="*{id}"
                                                 class="validation-message alert alert-danger" role="alert"></div>
                                        </div>

                                        <div class="col-sm-6">
                                            <label>Code COR<span>:</span></label>
                                            <textarea class="form-control" th:field="*{codCOR}" required></textarea>
                                            <div th:if="${#fields.hasErrors('codCOR')}"
                                                 th:errors="*{codCOR}"
                                                 class="validation-message alert alert-danger" role="alert"></div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            <label>First Name <span>:</span></label>
                                            <textarea class="form-control" type="tel" th:field="*{firstName}"
                                                      required></textarea>
                                        </div>


                                        <div class="col-sm-6">
                                            <label>Last Name <span>:</span></label>
                                            <textarea class="form-control" th:field="*{lastName}" required></textarea>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            <label>Birth Date <span>:</span></label>
                                            <textarea class="form-control" th:field="*{birthDate}"></textarea>
                                            <div class="clear"></div>
                                        </div>

                                        <div class="col-sm-6">
                                            <label>Birth Place <span>:</span></label>
                                            <textarea class="form-control" th:field="*{birthPlace}"></textarea>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            <label>Address <span>:</span></label>
                                            <textarea class="form-control" th:field="*{address}"></textarea>
                                            <div class="clear"></div>
                                        </div>

                                        <div class="col-sm-6">
                                            <label>CNP <span>:</span></label>
                                            <textarea class="form-control" th:field="*{cnp}"></textarea>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            <label>Phone Number <span>:</span></label>
                                            <textarea class="form-control" th:field="*{phoneNumber}"></textarea>
                                            <div class="clearfix"></div>
                                        </div>

                                        <div class="col-sm-6">
                                            <label>Email <span>:</span></label>
                                            <textarea class="form-control" th:field="*{email}"></textarea>
                                            <div class="clear"></div>
                                            <div th:if="${#fields.hasErrors('email')}"
                                                 th:errors="*{email}"
                                                 class="validation-message alert alert-danger" role="alert"></div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            <label>French Level <span>:</span></label>
                                            <select class="form-control" th:field="*{frenchLevel}" th:value="*{frenchLevel}">
                                                <option value="" selected>Choose here</option>
                                                <option value="zero">zero</option>
                                                <option value="incepator">incepator</option>
                                                <option value="mediu">mediu</option>
                                                <option value="avansat">avansat</option>
                                                <option value="experimentat">experimentat</option>
                                            </select>
                                            <div class="clear"></div>
                                        </div>

                                        <div class="col-sm-6">
                                            <label>Hire Date <span>:</span></label>
                                            <textarea class="form-control" th:field="*{hireDate}"></textarea>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            <label>Salary<span>:</span></label>
                                            <textarea class="form-control" th:field="*{salary}"></textarea>
                                            <div class="clear"></div>
                                        </div>

                                        <div class="col-sm-6">
                                            <label>Manager<span>:</span></label>
                                            <textarea class="form-control" th:field="*{manager}"></textarea>
                                            <div class="clear"></div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <input type="reset" class="reset" value="Reset"/>
                                        <input type="submit" class="register" value="Save changes"/>
                                        <div class="clear"></div>
                                    </div>
                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </th:block>
</div>
</body>
<!-- jQuery -->
<script type="text/javascript" src="../static/vendor/jquery/jquery.min.js"
        th:src="@{/vendor/jquery/jquery.min.js}"></script>
<!-- Bootstrap Core JavaScript -->
<script type="text/javascript" src="../static/vendor/bootstrap/js/bootstrap.min.js"
        th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!-- Metis Menu Plugin JavaScript -->
<script type="text/javascript" src="../static/vendor/metisMenu/metisMenu.min.js"
        th:src="@{/vendor/metisMenu/metisMenu.min.js}"></script>
<!-- Morris Charts JavaScript -->
<script type="text/javascript" src="../static/vendor/raphael/raphael.min.js"
        th:src="@{/vendor/raphael/raphael.min.js}"></script>
<!--<script type="text/javascript" src="../static/vendor/morrisjs/morris.min.js"
        th:src="@{/vendor/morrisjs/morris.min.js}"></script>
<script type="text/javascript" src="../static/data/morris-data.js"
        th:src="@{/data/morris-data.js}"></script>-->
<!-- Custom Theme JavaScript -->
<script type="text/javascript" src="../static/dist/js/sb-admin-2.js"
        th:src="@{/dist/js/sb-admin-2.js}"></script>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</html>