<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>Create Employee</title>

    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/vnd.microsoft.icon">
    <!-- Bootstrap Core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link th:href="@{/vendor/metisMenu/metisMenu.min.css}" rel="stylesheet">

    <!-- Custom CSS -->
    <link th:href="@{/dist/css/sb-admin-2.css}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link th:href="@{/vendor/morrisjs/morris.css}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div id="wrapper">
    <div th:insert="/nav :: nav"></div>
    <th:block layout:fragment="content">
        <div id="page-wrapper">
            <div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="tab-content">
                            <form th:action="@{/createAppointment}" th:object="${appointment}"
                                  method="POST">
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <label>Employee Id <span>:</span></label>
                                        <textarea class="form-control" th:field="*{employeeId}" required></textarea>
                                        <div th:if="${employeeNotExist}"
                                             class="validation-message alert alert-danger" role="alert"
                                             th:text="${employeeNotExist}"></div>
                                        <div th:if="${#fields.hasErrors('employeeId')}"
                                             th:errors="*{employeeId}"
                                             class="validation-message alert alert-danger" role="alert"></div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Appointment Type <span>:</span></label>
                                        <textarea class="form-control" th:field="*{appointmentType}"
                                                  required></textarea>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <label>Appointment Date <span>:</span></label>
                                        <div class='input-group date'>
                                            <input id='datetimepicker1' type='text' th:field="*{appointmentDate}"/>
                                        </div>
                                        <div class="clear"></div>
                                    </div>

                                    <div class="col-sm-6">
                                        <label>Appointment Location <span>:</span></label>
                                        <textarea class="form-control" th:field="*{appointmentLocation}"></textarea>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="reset" class="reset" value="Reset"/>
                                    <input type="submit" class="register" value="Save changes"/>
                                    <div class="clear"></div>
                                </div>
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</div>
</body>
<!-- jQuery -->
<script type="text/javascript" src="../static/vendor/jquery/jquery.min.js"
        th:src="@{/vendor/jquery/jquery.min.js}"></script>
<!-- Bootstrap Core JavaScript -->
<script type="text/javascript" src="../static/vendor/bootstrap/js/bootstrap.min.js"
        th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!-- Metis Menu Plugin JavaScript -->
<script type="text/javascript" src="../static/vendor/metisMenu/metisMenu.min.js"
        th:src="@{/vendor/metisMenu/metisMenu.min.js}"></script>
<!-- Morris Charts JavaScript -->
<script type="text/javascript" src="../static/vendor/raphael/raphael.min.js"
        th:src="@{/vendor/raphael/raphael.min.js}"></script>

<!-- Custom Theme JavaScript -->
<script type="text/javascript" src="../static/dist/js/sb-admin-2.js"
        th:src="@{/dist/js/sb-admin-2.js}"></script>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->


<link rel="stylesheet" type="text/css" href="css/jquery.datetimepicker.min.css"/>
<script src="js/jquery.datetimepicker.full.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#datetimepicker1').datetimepicker({
            format: "d/m/Y H:i"
        });
    });
</script>

</html>