<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/b-1.5.2/b-html5-1.5.2/datatables.min.css"/>-->

    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/vnd.microsoft.icon">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/af-2.3.0/b-1.5.2/b-colvis-1.5.1/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/cr-1.5.0/fc-3.2.5/fh-3.1.4/kt-2.4.0/r-2.2.2/rg-1.0.3/rr-1.2.4/sc-1.5.0/sl-1.2.6/datatables.min.css"/>


    <title>HR Administration</title>
    <!-- Bootstrap Core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link th:href="@{/vendor/metisMenu/metisMenu.min.css}" rel="stylesheet">

    <!-- Custom CSS -->
    <link th:href="@{/dist/css/sb-admin-2.css}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link th:href="@{/vendor/morrisjs/morris.css}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div id="wrapper">


    <!-- Navigation -->
    <div th:insert="/nav :: nav" ></div>
    <th:block layout:fragment="content">
        <div id="page-wrapper">
            <div>
                <div class="panel panel-default">
                    <div th:if="${not #lists.isEmpty(employees)}" >
                        <h1 class="page-header">Employees</h1>

                        <div class="panel-body">

                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#employee-table-tabs" data-toggle="tab">Employee List</a>
                                </li>
                                <li><a href="#employee-upload-tabs" data-toggle="tab">Upload Employees</a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="employee-table-tabs">
                                    <table id="employees" class="display" style="width:100%">
                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Code COR</th>
                                            <th>Birth Date</th>
                                            <th>Birth Place</th>
                                            <th>Address</th>
                                            <th>CNP</th>
                                            <th>Phone Number</th>
                                            <th>Email</th>
                                            <th>French Level</th>
                                            <th>Hire Date</th>
                                            <th>Salary</th>
                                            <th>Manager</th>
                                            <th>Edit</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="employee : ${employees}">
                                            <td th:text="${employee.id}"></td>
                                            <td th:text="${employee.firstName}"></td>
                                            <td th:text="${employee.lastName}"></td>
                                            <td th:text="${employee.codCOR}"></td>
                                            <td th:text="${employee.birthDate}"></td>
                                            <td th:text="${employee.birthPlace}"></td>
                                            <td th:text="${employee.address}"></td>
                                            <td th:text="${employee.cnp}"></td>
                                            <td th:text="${employee.phoneNumber}"></td>
                                            <td th:text="${employee.email}"></td>
                                            <td th:text="${employee.frenchLevel}"></td>
                                            <td th:text="${employee.hireDate}"></td>
                                            <td th:text="${employee.salary == null} ? 'Permission denied' : ${employee.salary}"></td>
                                            <td th:text="${employee.manager}"></td>
                                            <td><a th:href="@{'/employees/editEmployee/' + ${employee.id}}">Edit</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane fade" id="employee-upload-tabs">
                                    <div id="uploadEmployeeId" >
                                        <p></p>
                                        <form action="/employees/upload" method="post" enctype="multipart/form-data">
                                            <input name="inputEmployeeFile" id="inputEmployeeFile" type="file" /><br>
                                            <button name="submit" type="submit" >Upload</button>
                                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="panel panel-collapse">
                </div>
            </div>


            <!-- /.col-lg-12 -->
        </div>
    </th:block>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script type="text/javascript" src="../static/vendor/jquery/jquery.min.js"
        th:src="@{/vendor/jquery/jquery.min.js}"></script>
<!-- Bootstrap Core JavaScript -->
<script type="text/javascript" src="../static/vendor/bootstrap/js/bootstrap.min.js"
        th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!-- Metis Menu Plugin JavaScript -->
<script type="text/javascript" src="../static/vendor/metisMenu/metisMenu.min.js"
        th:src="@{/vendor/metisMenu/metisMenu.min.js}"></script>
<!-- Morris Charts JavaScript -->
<script type="text/javascript" src="../static/vendor/raphael/raphael.min.js"
        th:src="@{/vendor/raphael/raphael.min.js}"></script>
<script type="text/javascript" src="../static/vendor/morrisjs/morris.min.js"
        th:src="@{/vendor/morrisjs/morris.min.js}"></script>
<script type="text/javascript" src="../static/data/morris-data.js"
        th:src="@{/data/morris-data.js}"></script>

<!-- DataTables JavaScript -->
<script type="text/javascript" src="../static/vendor/datatables/js/jquery.dataTables.min.js"
        th:src="@{/vendor/datatables/js/jquery.dataTables.min.js}"></script>
<script type="text/javascript" src="../static/vendor/datatables-plugins/dataTables.bootstrap.min.js"
        th:src="@{/vendor/datatables-plugins/dataTables.bootstrap.min.js}"></script>
<script type="text/javascript" src="../static/vendor/datatables-responsive/dataTables.responsive.js"
        th:src="@{/vendor/datatables-responsive/dataTables.responsive.js}"></script>

<!-- Custom Theme JavaScript -->
<script type="text/javascript" src="../static/dist/js/sb-admin-2.js"
        th:src="@{/dist/js/sb-admin-2.js}"></script>

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/af-2.3.0/b-1.5.2/b-colvis-1.5.1/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/cr-1.5.0/fc-3.2.5/fh-3.1.4/kt-2.4.0/r-2.2.2/rg-1.0.3/rr-1.2.4/sc-1.5.0/sl-1.2.6/datatables.min.js"></script>


<script>
    $(document).ready(function () {
        $('#employees').DataTable({
            responsive: true,
            dom: 'lBfrtip',
            buttons: [
                {
                    extend: 'excelHtml5',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'copyHtml5',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'colvis',
                    collectionLayout: 'fixed two-column'

                }
            ],
            columnDefs: [
                {
                    targets: -1,
                    visible: false
                }
            ]
        });

    });
</script>

</body>
</html>

