<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/vnd.microsoft.icon">

    <title>HR Administration</title>
    <!-- Bootstrap Core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link th:href="@{/vendor/metisMenu/metisMenu.min.css}" rel="stylesheet">

    <!-- Custom CSS -->
    <link th:href="@{/dist/css/sb-admin-2.css}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link th:href="@{/vendor/morrisjs/morris.css}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">

    <link th:href="@{css/fv.css}" rel="stylesheet" />
    <link th:href="@{css/style.css}" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <script th:src="@{js/fv.min.js}"></script>
    <![endif]-->

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                        <form th:action="@{/login}" method="POST">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                            <fieldset>
                                <div th:if="${param.error}" class="alert alert-danger" role="alert">
                                    Invalid username and password.
                                </div>
                                <div th:if="${param.logout}" class="alert alert-success">
                                    You have been logged out.
                                </div>


                                <div class="form-group">
                                    <input th:value="*{username}" class="form-control" placeholder="Email" id="username" name="username" for="username" type="text" autofocus>
                                </div>
                                <div class="form-group">
                                    <input th:value="*{password}" class="form-control" for="password" id="password" placeholder="Password" name="password" type="password" autocomplete="nope">
                                    <span class="glyphicon"
                                          aria-hidden="true"></span>
                                </div>
                                <div th:if="${incorrectCredentialsMessage}"
                                     class="alert alert-danger" role="alert"
                                     th:text="${incorrectCredentialsMessage}"></div>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                    </label>
                                </div>
                            </fieldset>
                            <!-- Change this to a button or input when using this as a form -->
                            <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="Login"></button>
                        </form>
                        <h5>If you don't have an account click <a th:href="@{'/register'}">here</a> to register</h5>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script type="text/javascript" src="../static/vendor/jquery/jquery.min.js"
            th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script type="text/javascript" src="../static/vendor/bootstrap/js/bootstrap.min.js"
            th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script type="text/javascript" src="../static/vendor/metisMenu/metisMenu.min.js"
            th:src="@{/vendor/metisMenu/metisMenu.min.js}"></script>
    <!-- Custom Theme JavaScript -->
    <script type="text/javascript" src="../static/dist/js/sb-admin-2.js"
            th:src="@{/dist/js/sb-admin-2.js}"></script>

</body>

</html>
