<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Nav</title>
</head>
<body>
<th:block layout:fragment="nav">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/index">HR Administration</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <!-- /.dropdown-messages -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <!-- /.dropdown-tasks -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <!-- /.dropdown-alerts -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i>
                        <!--<span th:text ="${session.loggedUsername}"></span>-->
                        <span sec:authentication="name"></span>
                        <span sec:authentication="principal.authorities"></span>
                    </a>
                    </li>
                    <!-- <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>-->
                    <li sec:authorize="hasRole('ADMIN')"><a href="/register"><i class="fa fa-pencil fa-fw "></i>Register
                        a new user</a>
                    </li>
                    <li class="divider"></li>
                    <!-- <a th:href="@{'/logout'}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>-->
                    <li sec:authorize="isAuthenticated()" class="last">
                        <form action="/logout" method="post">
                            <input type="hidden" th:name="${_csrf.parameterName}"
                                   th:value="${_csrf.token}"/>
                            <input type="submit" value="Logout"/>
                        </form>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </li>
                    <li>
                        <a href="#">
                            <!--<i class="fa fa-address-card fa-fw">-->
                            <!---->
                            <!--</i>-->
                            <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
                            Employees<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a th:href="@{'/employees'}">
                                    <!--<i class="fa fa-address-card fa-fw"></i> -->
                                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>Employees</a>
                            </li>
                            <li>
                                <a th:href="@{'/employees/showCreateEmployeeForm'}"><i
                                        class="fa fa-user-plus fa-fw"></i>Create Employee</a>
                            </li>
                            <li>
                                <a th:href="@{'/showAppointments'}"><i
                                        class="fa fa-user-plus fa-fw"></i>Appointments</a>
                            </li>
                            <li>
                                <a th:href="@{'/showCreateAppointmentForm'}"><i
                                        class="fa fa-user-plus fa-fw"></i>New Appointment</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <!--<i class="fa fa-user-tie fa-fw"></i>-->
                            <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                            Candidates<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a th:href="@{'/candidates'}">
                                    <!--<i class="fa fa-user-tie fa-fw"></i> -->
                                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                                    Candidates</a>
                            </li>
                            <!--<li>
                                <a th:href="@{'/candidate/showCreateCandidateForm'}"   ><i class="fa fa-user-plus fa-fw"></i>Create Candidate</a>
                            </li>-->
                            <li>
                                <a th:href="@{'/showCandidatesCharts'}"><i class="fa fa-dashboard fa-fw"></i>Chart</a>
                            </li>

                        </ul>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a th:href="@{'/blank'}">Blank Page</a>
                            </li>
                            <li>
                                <a th:href="@{'/login'}">Login Page</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>
</th:block>
</body>
</html>