<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/vnd.microsoft.icon">
    <!-- Bootstrap Core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link th:href="@{/vendor/metisMenu/metisMenu.min.css}" rel="stylesheet">

    <!-- Custom CSS -->
    <link th:href="@{/dist/css/sb-admin-2.css}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link th:href="@{/vendor/morrisjs/morris.css}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div id="wrapper">
    <div th:insert="/nav :: nav"></div>
    <div id="page-wrapper">
        <div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="tab-content">

                    <canvas id="myChart"></canvas>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>

    $(document).ready(function () {
        var javaData = [];
        var netData = [];
        var labels = [];
        $.ajax({
            url: "http://localhost:9081/candidates/java",
            method: "GET",
            success: function (data) {
                console.log(data);
                for (var i in data) {
                    javaData.push(data[i].salary);
                    labels.push(data[i].experience);
                }
            }
        })
        $.ajax({
            url: "http://localhost:9081/candidates/.NET",
            method: "GET",
            success: function (data) {
                console.log(data);
                for (var i in data) {
                    netData.push(data[i].salary);
                }
            }
        })

        var ctx = document.getElementById('myChart').getContext('2d');

        console.log(javaData);
        console.log(netData);

        var javaChartData = {
            label: 'JAVA Salaries',
            data: javaData,
            backgroundColor: 'rgba(0, 99, 132, 0.6)',
            borderWidth: 0,
            yAxisID: "y-axis-java"
        };

        var NETChartData = {
            label: '.NET salaries',
            data: netData,
            backgroundColor: '#ff0000',
            borderWidth: 0,
            yAxisID: "y-axis-java"
        };

        var chartData = {
            labels: labels,
            datasets: [javaChartData, NETChartData]

        };

        var chartOptions = {
            scales: {
                xAxes: [{
                    barPercentage: 1,
                    categoryPercentage: 0.6,
                    scaleLabel: {
                        display: true,
                        labelString: 'Work experience'
                    }
                }],
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Desired Salary in RON'
                    },
                    id: "y-axis-java"
                }]
            }
        };

        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'bar',
            data: chartData,
            options: chartOptions
        });
    });

</script>
    <!-- jQuery -->
    <script type="text/javascript" src="../static/vendor/jquery/jquery.min.js"
            th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script type="text/javascript" src="../static/vendor/bootstrap/js/bootstrap.min.js"
            th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script type="text/javascript" src="../static/vendor/metisMenu/metisMenu.min.js"
            th:src="@{/vendor/metisMenu/metisMenu.min.js}"></script>
    <script type="text/javascript" src="../static/dist/js/sb-admin-2.js"
            th:src="@{/dist/js/sb-admin-2.js}"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    </html>