<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="" />
  <meta name="author" content="" />
  <base href="/">
  <link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/vnd.microsoft.icon">

  <title>User Registration with Spring Boot</title>

  <!-- Bootstrap core CSS -->
  <link
          href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous" />

  <link th:href="@{css/style.css}" rel="stylesheet" />
</head>

<body class="gray-bg">

<div class="middle-box text-center loginscreen animated fadeInDown">
  <div>

    <hr />

    <h4>New User Registration</h4>

    <form autocomplete="off" action="#" th:action="@{/register}"
          th:object="${registerForm}" method="post" class="m-t" role="form"
          data-toggle="validator">


      <div th:if="${confirmationMessage}" class="alert alert-success"
           role="alert" th:text="${confirmationMessage}"></div>

      <div th:if="${alreadyRegisteredMessage}"
           class="alert alert-danger" role="alert"
           th:text="${alreadyRegisteredMessage}"></div>


      <div th:if="${#fields.hasErrors('firstName')}"
           th:errors="*{firstName}"
           class="validation-message alert alert-danger" role="alert"></div>

      <div th:if="${#fields.hasErrors('lastName')}"
           th:errors="*{lastName}"
           class="validation-message alert alert-danger" role="alert"></div>


      <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
           class="validation-message alert alert-danger" role="alert"></div>

      <!--<div th:if="${#fields.hasErrors('password')}"-->
      <!--th:errors="*{password}"-->
      <!--class="validation-message alert alert-danger" role="alert"></div>-->


      <div class="form-group input-group has-feedback">
        <label th:if="${#fields.hasErrors('firstName')}"
               th:errors="*{firstName}" class="validation-message"></label>
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>

        <input type="text" th:field="*{firstName}"
               placeholder="First Name" class="form-control" required />
        <span class="glyphicon form-control-feedback"
              aria-hidden="true"></span>
      </div>

      <div class="form-group input-group has-feedback">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
          </span>
        <input type="text" th:field="*{lastName}"
               placeholder="Last Name" class="form-control" required />
        <span class="glyphicon form-control-feedback"
              aria-hidden="true"></span>
      </div>

      <div class="form-group input-group has-feedback">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-envelope"></span>
          </span>
        <input type="email" th:field="*{email}"
               placeholder="Email Address" class="form-control"
               data-error="This email address is invalid" required />
        <span class="glyphicon form-control-feedback"
              aria-hidden="true"></span>

      </div>

      <!--<label class="radio-inline"><input type="radio" name="optradio">Option 1</label>-->
      <!--<label class="radio-inline"><input type="radio" name="optradio">Option 2</label>-->

      <!--<label class="radio-inline">-->
      <!--&lt;!&ndash;<span class="input-group-addon">&ndash;&gt;-->
      <!--&lt;!&ndash;<span class="glyphicon glyphicon-user"></span>&ndash;&gt;-->
      <!--&lt;!&ndash;</span>&ndash;&gt;-->
      <!--<input type="radio" th:field="*{lastName}"-->
      <!--name="optradio" value="admin" class="form-control" required checked/>admin</label>-->
      <!--<label class="radio-inline">-->
      <!--<input type="radio" th:field="*{lastName}"-->
      <!--name="optradio" value="member" class="form-control" required />member-->
      <!--&lt;!&ndash;<span class="glyphicon form-control-feedback"&ndash;&gt;-->
      <!--&lt;!&ndash;aria-hidden="true"></span>&ndash;&gt;-->
      <!--</label>-->

      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" th:field="*{roleName}" id="customRadioInline1" name="role" class="custom-control-input" value="ROLE_MANAGER"checked>
        <label class="custom-control-label" for="customRadioInline1">Manager</label>

        <input type="radio" th:field="*{roleName}" id="customRadioInline2" name="role" class="custom-control-input" value="ROLE_ADMIN">
        <label class="custom-control-label" for="customRadioInline2">Admin</label>
      </div>



      <button type="submit"
              class="btn btn-primary block full-width m-b">Register</button>

    </form>
    <p class="m-t">

    </p>
  </div>
</div>


<!-- jQuery-->
<script
        src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Bootstrap -->
<script
        src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<!-- Bootstrap Validator plugin -->
<script src="//cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>


</body>

</html>